@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h3 class="mb-2">About</h3>
    <p class="mb-2">
    PLSPEduView is a web application developed using the ASP.NET MVC framework. This application was created by Group 8. This website serves as a read-only platform, allowing users to view information about students, courses, and skills registered in the database.
    </p>
</div>
