@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h3 class="mb-2">About</h3>
    <p class="mb-2">
        PLSPEduView is a comprehensive web application developed using the ASP.NET MVC framework. It serves as the official system of Group 8 for their final project in the course Fundamentals of Database Systems. This platform functions as a fully-featured university management system, enabling users to efficiently manage academic data. Specifically, it allows authorized users to view, add, update, and delete information related to students, courses, and skills stored in the database.
    </p>
</div>
