@model CourseViewModel
@{
    ViewData["Tiltle"] = "Course Page";
}

<div class="text-center">
    <h3>Course Page</h3>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Description</th>
                <th>Number of Students Enrolled</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var c in @Model.Courses)
                {
                    <tr>
                        <th>@c.CourseCode</th>
                        <th>@c.CourseDescription</th>
                        <th>@c.GetNumberOfStudentsEnrolled()</th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>