html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-wide{
  width: 150px;
}

.container-box {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 36px;
}

.inner-container {
  display: flex;
  padding: 29px 17px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #ADB5BD;
}

.inner-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  flex-shrink: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.svg-icon {
  width: 90%; 
  height: 90%;
}

@media (min-width: 768px) {
  .container-box {
      flex-direction: row; /* Align horizontally on larger screens */
      justify-content: center;
  }
}

.homebutton{
  background-color: white;
  transition: background-color 0.3s ease;
}

.homebutton:hover {
  background-color: #e7e7e7;
}