@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Number of students registered</th>
                <th>@Model.NumberOfStudentRegistered</th>
            </tr>
            <tr>
                <th>Number of skills registered</th>
                <th>@Model.NumberOfSkillsRegistered</th>
            </tr>
            <tr>
                <th>Number of courses registered</th>
                <th>@Model.NumberOfCoursesRegistered</th>
            </tr>
        </tbody>
    </table>
</div>
