@{
    ViewData["Title"] = "Success Page";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center p-4 bg-white">
        <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 30L45 85L20 60" stroke="#28a745" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <h3 class="mt-3">Student Created Successfully</h3>
        <a asp-action="Index" class="btn btn-primary mt-3">Continue</a>
    </div>
</div>
